{% extends "main/layout.html" %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'main/img/about.jpg' %}" alt="О нас" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <h1>О нас</h1>
            <p>
                Мы — компания ITProger, специализирующаяся на создании игр и разработке программного обеспечения. 
                Наша команда состоит из опытных программистов, дизайнеров и тестировщиков, которые работают над 
                созданием качественных и инновационных продуктов. Мы гордимся своими проектами и стремимся 
                предоставлять нашим клиентам лучшие решения.
            </p>
            <p>
                Наши ключевые направления:
            </p>
            <ul>
                <li>Разработка игр для PC и мобильных устройств</li>
                <li>Создание веб-приложений</li>
                <li>UI/UX дизайн</li>
                <li>Тестирование и оптимизация</li>
            </ul>
        </div>
    </div>
{% endblock %}