{% extends "main/layout.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Наша команда</h1>
    <div class="row">
        {% for member in team_members %}
            <div class="col-md-3 text-center">
                <img src="{{ member.photo.url }}" alt="{{ member.first_name }} {{ member.last_name }}" class="img-fluid rounded-circle mb-3" />
                <h3>{{ member.first_name }} {{ member.last_name }}</h3>
                <p>{{ member.position }}</p>
                <a href="{% url 'team_member_detail' member.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}